
@model PagedResult<Product>
@{
	Product product = ViewBag.Product;
	List<Product> ListProductSales = ViewBag.ProductSales;
}
	<style>
    .product-img {
        width: 250px;
        height: 250px;
        object-fit: cover; /* Cắt ảnh để vừa khung, không méo */
        object-position: center; /* Canh giữa */
    }
		#imgOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
#imgOverlay {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#imgOverlay.show {
    display: flex;
    opacity: 1;
}
#imgOverlay img {
    max-width: 90%;
    max-height: 90%;
}
	</style>
<section class="banner-area">
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-start">
			<div class="col-lg-12">
				<div class="active-banner-slider owl-carousel">
					<!-- single-slide -->
					<div class="row single-slide align-items-center d-flex">
						<div class="col-lg-5 col-md-6">
							<div class="banner-content">
								<h1>Product New <br>Panasonic DH-3JP3VK!</h1>
								<p>
									Panasonic DH-3JP3VK là dòng máy nước nóng trực tiếp (không bình chứa) đến từ thương hiệu Panasonic,
									được thiết kế nhỏ gọn, hiện đại, phù hợp với gia đình có nhu cầu sử dụng nước nóng nhanh và ổn định.
								</p>
								<div class="add-bag d-flex align-items-center">
									<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
									<span class="add-text text-uppercase">Add to Bag</span>
								</div>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="banner-img">
								<img class="img-fluid" src="~/images/products/panasonic-dh-3jp3vk-573881366708228-300x300.jpg" alt="">
								</div>
							</div>
						</div>
						<!-- single-slide -->
						<div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content" style="margin-top: 150px;">
									<h1>Product New <br>Sony Xperia L C2105!</h1>
									<p>
										Sony Xperia L C2105 là một chiếc smartphone tầm trung với thiết kế nhỏ gọn và hiệu năng ổn định, phù hợp
										cho nhu cầu sử dụng cơ bản hằng ngày.
									</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Add to Bag</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="~/images/products/Sony-Xperia-L-l.jpg" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End banner Area -->
		<!-- start features Area -->
		<section class="features-area section_gap">
			<div class="container">
				<div class="row features-inner">
					<!-- single features -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-features">
							<div class="f-icon">
								<img src="~/img/features/f-icon1.png" alt="">
								</div>
								<h6>Free Delivery</h6>
								<p>Free Shipping on all order</p>
							</div>
						</div>
						<!-- single features -->
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="single-features">
								<div class="f-icon">
									<img src="~/img/features/f-icon2.png" alt="">
									</div>
									<h6>Return Policy</h6>
									<p>Free Shipping on all order</p>
								</div>
							</div>
							<!-- single features -->
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="single-features">
									<div class="f-icon">
										<img src="~/img/features/f-icon3.png" alt="">
										</div>
										<h6>24/7 Support</h6>
										<p>Free Shipping on all order</p>
									</div>
								</div>
								<!-- single features -->
								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="single-features">
										<div class="f-icon">
											<img src="~/img/features/f-icon4.png" alt="">
											</div>
											<h6>Secure Payment</h6>
											<p>Free Shipping on all order</p>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!-- end features Area -->
						<!-- Start category Area -->
					
											<!-- End category Area -->
											<!-- start product Area -->
											<section class="owl-carousel active-product-area section_gap">
												<!-- single product slide -->
												<div class="single-product-slider">
													<div class="container">
														<div class="row justify-content-center">
															<div class="col-lg-6 text-center">
																<div class="section-title">
																	<h1>Sản phẩm hàng đầu</h1>
																	<p>
																		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
																		dolore
																		magna aliqua.
																	</p>
																</div>
															</div>
														</div>
														 <div class="row">
				@foreach(var i in Model.DataItems)
				{
					
																<div class="col-lg-3 col-md-6">
																	<form action="~/Cart/AddItem" method="post">
		

    <input type="hidden" name="ProductID" value="@i.ProductID" />
    <input type="hidden" name="Quantity" value="1" />
    <input type="hidden" name="SalePrice" value="@i.Price" />
    <input type="hidden" name="ProductName" value="@i.ProductName" />
    <input type="hidden" name="Unit" value="@i.Unit" />
    <input type="hidden" name="Photo" value="@i.Photo" />

																	<div class="single-product">
																		<img id="mainImg" class="img-fluid product-img" src="~/images/products/@i.Photo" alt="" >
																		<div id="imgOverlay" onclick="closeImage()">
    <img id="overlayImg">
</div>
																			<div class="product-details">
																				<h6>
																					@i.ProductName
																				</h6>
																				<div class="price">
																					<h6>@i.Price.FormatVND()</h6>
																					<h6 class="l-through">@( (i.Price + i.Price/8).FormatVND() )</h6>
																				</div>
																				<div class="prd-bottom">

																					<div class="prd-bottom d-flex justify-content-around align-items-center">

    <!-- Add to Bag Button -->
	
    <a class="social-info unified-btn" href="~/Cart/AddItem/@i.ProductID">
        <span class="ti-bag"></span>
        <p class="hover-text">Add to Bag</p>
		
    </a>

    <!-- Product Detail Link -->
    <a href="~/Product/Detail/@i.ProductID" class="social-info unified-btn">
        <span class="lnr lnr-file-empty"></span>
        <p class="hover-text">Detail</p>
    </a>

    <!-- View More Image -->
    <a href="javascript:void(0)" class="social-info unified-btn" onclick="openImage()">
        <span class="lnr lnr-move"></span>
        <p class="hover-text">View More</p>
    </a>

</div>
																				</div>
																			</div>
																		</div>
																</form>	</div>
																	
				}
				<!-- single product -->
															@*<div class="col-lg-3 col-md-6">
																<div class="single-product">
																	<img class="img-fluid" src="~/img/product/p1.jpg" alt="">
																		<div class="product-details">
																			<h6>
																				addidas New Hammer sole
																				for Sports person
																			</h6>
																			<div class="price">
																				<h6>$150.00</h6>
																				<h6 class="l-through">$210.00</h6>
																			</div>
																			<div class="prd-bottom">

																				<a href="" class="social-info">
																					<span class="ti-bag"></span>
																					<p class="hover-text">add to bag</p>
																				</a>
																				<a href="" class="social-info">
																					<span class="lnr lnr-heart"></span>
																					<p class="hover-text">Wishlist</p>
																				</a>
																				<a href="" class="social-info">
																					<span class="lnr lnr-sync"></span>
																					<p class="hover-text">compare</p>
																				</a>
																				<a href="" class="social-info">
																					<span class="lnr lnr-move"></span>
																					<p class="hover-text">view more</p>
																				</a>
																			</div>
																		</div>
																	</div>
																</div>
																<!-- single product -->
																<div class="col-lg-3 col-md-6">
																	<div class="single-product">
																		<img class="img-fluid" src="~/img/product/p2.jpg" alt="">
																			<div class="product-details">
																				<h6>
																					addidas New Hammer sole
																					for Sports person
																				</h6>
																				<div class="price">
																					<h6>$150.00</h6>
																					<h6 class="l-through">$210.00</h6>
																				</div>
																				<div class="prd-bottom">

																					<a href="" class="social-info">
																						<span class="ti-bag"></span>
																						<p class="hover-text">add to bag</p>
																					</a>
																					<a href="" class="social-info">
																						<span class="lnr lnr-heart"></span>
																						<p class="hover-text">Wishlist</p>
																					</a>
																					<a href="" class="social-info">
																						<span class="lnr lnr-sync"></span>
																						<p class="hover-text">compare</p>
																					</a>
																					<a href="" class="social-info">
																						<span class="lnr lnr-move"></span>
																						<p class="hover-text">view more</p>
																					</a>
																				</div>
																			</div>
																		</div>
																	</div>
																	<!-- single product -->
																	<div class="col-lg-3 col-md-6">
																		<div class="single-product">
																			<img class="img-fluid" src="~/img/product/p3.jpg" alt="">
																				<div class="product-details">
																					<h6>
																						addidas New Hammer sole
																						for Sports person
																					</h6>
																					<div class="price">
																						<h6>$150.00</h6>
																						<h6 class="l-through">$210.00</h6>
																					</div>
																					<div class="prd-bottom">
																						<a href="" class="social-info">
																							<span class="ti-bag"></span>
																							<p class="hover-text">add to bag</p>
																						</a>
																						<a href="" class="social-info">
																							<span class="lnr lnr-heart"></span>
																							<p class="hover-text">Wishlist</p>
																						</a>
																						<a href="" class="social-info">
																							<span class="lnr lnr-sync"></span>
																							<p class="hover-text">compare</p>
																						</a>
																						<a href="" class="social-info">
																							<span class="lnr lnr-move"></span>
																							<p class="hover-text">view more</p>
																						</a>
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- single product -->
																		<div class="col-lg-3 col-md-6">
																			<div class="single-product">
																				<img class="img-fluid" src="~/img/product/p4.jpg" alt="">
																					<div class="product-details">
																						<h6>
																							addidas New Hammer sole
																							for Sports person
																						</h6>
																						<div class="price">
																							<h6>$150.00</h6>
																							<h6 class="l-through">$210.00</h6>
																						</div>
																						<div class="prd-bottom">

																							<a href="" class="social-info">
																								<span class="ti-bag"></span>
																								<p class="hover-text">add to bag</p>
																							</a>
																							<a href="" class="social-info">
																								<span class="lnr lnr-heart"></span>
																								<p class="hover-text">Wishlist</p>
																							</a>
																							<a href="" class="social-info">
																								<span class="lnr lnr-sync"></span>
																								<p class="hover-text">compare</p>
																							</a>
																							<a href="" class="social-info">
																								<span class="lnr lnr-move"></span>
																								<p class="hover-text">view more</p>
																							</a>
																						</div>
																					</div>
																				</div>
																			</div>
																			<!-- single product -->
																			<div class="col-lg-3 col-md-6">
																				<div class="single-product">
																					<img class="img-fluid" src="~/img/product/p5.jpg" alt="">
																						<div class="product-details">
																							<h6>
																								addidas New Hammer sole
																								for Sports person
																							</h6>
																							<div class="price">
																								<h6>$150.00</h6>
																								<h6 class="l-through">$210.00</h6>
																							</div>
																							<div class="prd-bottom">

																								<a href="" class="social-info">
																									<span class="ti-bag"></span>
																									<p class="hover-text">add to bag</p>
																								</a>
																								<a href="" class="social-info">
																									<span class="lnr lnr-heart"></span>
																									<p class="hover-text">Wishlist</p>
																								</a>
																								<a href="" class="social-info">
																									<span class="lnr lnr-sync"></span>
																									<p class="hover-text">compare</p>
																								</a>
																								<a href="" class="social-info">
																									<span class="lnr lnr-move"></span>
																									<p class="hover-text">view more</p>
																								</a>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- single product -->
																				<div class="col-lg-3 col-md-6">
																					<div class="single-product">
																						<img class="img-fluid" src="~/img/product/p6.jpg" alt="">
																							<div class="product-details">
																								<h6>
																									addidas New Hammer sole
																									for Sports person
																								</h6>
																								<div class="price">
																									<h6>$150.00</h6>
																									<h6 class="l-through">$210.00</h6>
																								</div>
																								<div class="prd-bottom">

																									<a href="" class="social-info">
																										<span class="ti-bag"></span>
																										<p class="hover-text">add to bag</p>
																									</a>
																									<a href="" class="social-info">
																										<span class="lnr lnr-heart"></span>
																										<p class="hover-text">Wishlist</p>
																									</a>
																									<a href="" class="social-info">
																										<span class="lnr lnr-sync"></span>
																										<p class="hover-text">compare</p>
																									</a>
																									<a href="" class="social-info">
																										<span class="lnr lnr-move"></span>
																										<p class="hover-text">view more</p>
																									</a>
																								</div>
																							</div>
																						</div>
																					</div>
																					<!-- single product -->
																					<div class="col-lg-3 col-md-6">
																						<div class="single-product">
																							<img class="img-fluid" src="~/img/product/p7.jpg" alt="">
																								<div class="product-details">
																									<h6>
																										addidas New Hammer sole
																										for Sports person
																									</h6>
																									<div class="price">
																										<h6>$150.00</h6>
																										<h6 class="l-through">$210.00</h6>
																									</div>
																									<div class="prd-bottom">

																										<a href="" class="social-info">
																											<span class="ti-bag"></span>
																											<p class="hover-text">add to bag</p>
																										</a>
																										<a href="" class="social-info">
																											<span class="lnr lnr-heart"></span>
																											<p class="hover-text">Wishlist</p>
																										</a>
																										<a href="" class="social-info">
																											<span class="lnr lnr-sync"></span>
																											<p class="hover-text">compare</p>
																										</a>
																										<a href="" class="social-info">
																											<span class="lnr lnr-move"></span>
																											<p class="hover-text">view more</p>
																										</a>
																									</div>
																								</div>
																							</div>
																						</div>
																						<!-- single product -->
																						<div class="col-lg-3 col-md-6">
																							<div class="single-product">
																								<img class="img-fluid" src="~/img/product/p8.jpg" alt="">
																									<div class="product-details">
																										<h6>
																											addidas New Hammer sole
																											for Sports person
																										</h6>
																										<div class="price">
																											<h6>$150.00</h6>
																											<h6 class="l-through">$210.00</h6>
																										</div>
																										<div class="prd-bottom">

																											<a href="" class="social-info">
																												<span class="ti-bag"></span>
																												<p class="hover-text">add to bag</p>
																											</a>
																											<a href="" class="social-info">
																												<span class="lnr lnr-heart"></span>
																												<p class="hover-text">Wishlist</p>
																											</a>
																											<a href="" class="social-info">
																												<span class="lnr lnr-sync"></span>
																												<p class="hover-text">compare</p>
																											</a>
																											<a href="" class="social-info">
																												<span class="lnr lnr-move"></span>
																												<p class="hover-text">view more</p>
																											</a>
																										</div>
																									</div>
																								</div>
																							</div> *@
																						</div>
																					</div>
																				</div>
																				<!-- single product slide -->
																				<div class="single-product-slider">
													<div class="container">
														<div class="row justify-content-center">
															<div class="col-lg-6 text-center">
																<div class="section-title">
																	<h1>Sản phẩm hàng đầu</h1>
																	<p>
																		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
																		dolore
																		magna aliqua.
																	</p>
																</div>
															</div>
														</div>
														 <div class="row">
				@foreach(var i in Model.DataItems)
				{
																<div class="col-lg-3 col-md-6">
																	<div class="single-product">
																		<img class="img-fluid" src="~/images/products/@i.Photo" alt="" width="250px" height="250px">
																			<div class="product-details">
																				<h6>
																					@i.ProductName
																				</h6>
																				<div class="price">
																					<h6>@i.Price.FormatVND()</h6>
																					<h6 class="l-through">@( (i.Price + i.Price/8).FormatVND() )</h6>
																				</div>
																				<div class="prd-bottom">

																					<a href="" class="social-info">
																						<span class="ti-bag"></span>
																						<p class="hover-text">add to bag</p>
																					</a>
										
																					@* <a href="" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">view more</p>
										</a> *@
																					<a href="~/Product/Detail/@i.ProductID" class="social-info">
																						<span class="lnr lnr-file-empty"></span>
																						<p class="hover-text">Detail</p>
																					</a>
																					<a href="javascript:void(0)" class="social-info" onclick="openImage()">
																						<span class="lnr lnr-move"></span>
																						<p class="hover-text">view more</p>
																					</a>
																				</div>
																			</div>
																		</div>
																	</div>
				}
				<!-- single product -->
															@*<div class="col-lg-3 col-md-6">
																<div class="single-product">
																	<img class="img-fluid" src="~/img/product/p1.jpg" alt="">
																		<div class="product-details">
																			<h6>
																				addidas New Hammer sole
																				for Sports person
																			</h6>
																			<div class="price">
																				<h6>$150.00</h6>
																				<h6 class="l-through">$210.00</h6>
																			</div>
																			<div class="prd-bottom">

																				<a href="" class="social-info">
																					<span class="ti-bag"></span>
																					<p class="hover-text">add to bag</p>
																				</a>
																				<a href="" class="social-info">
																					<span class="lnr lnr-heart"></span>
																					<p class="hover-text">Wishlist</p>
																				</a>
																				<a href="" class="social-info">
																					<span class="lnr lnr-sync"></span>
																					<p class="hover-text">compare</p>
																				</a>
																				<a href="" class="social-info">
																					<span class="lnr lnr-move"></span>
																					<p class="hover-text">view more</p>
																				</a>
																			</div>
																		</div>
																	</div>
																</div>
																<!-- single product -->
																<div class="col-lg-3 col-md-6">
																	<div class="single-product">
																		<img class="img-fluid" src="~/img/product/p2.jpg" alt="">
																			<div class="product-details">
																				<h6>
																					addidas New Hammer sole
																					for Sports person
																				</h6>
																				<div class="price">
																					<h6>$150.00</h6>
																					<h6 class="l-through">$210.00</h6>
																				</div>
																				<div class="prd-bottom">

																					<a href="" class="social-info">
																						<span class="ti-bag"></span>
																						<p class="hover-text">add to bag</p>
																					</a>
																					<a href="" class="social-info">
																						<span class="lnr lnr-heart"></span>
																						<p class="hover-text">Wishlist</p>
																					</a>
																					<a href="" class="social-info">
																						<span class="lnr lnr-sync"></span>
																						<p class="hover-text">compare</p>
																					</a>
																					<a href="" class="social-info">
																						<span class="lnr lnr-move"></span>
																						<p class="hover-text">view more</p>
																					</a>
																				</div>
																			</div>
																		</div>
																	</div>
																	<!-- single product -->
																	<div class="col-lg-3 col-md-6">
																		<div class="single-product">
																			<img class="img-fluid" src="~/img/product/p3.jpg" alt="">
																				<div class="product-details">
																					<h6>
																						addidas New Hammer sole
																						for Sports person
																					</h6>
																					<div class="price">
																						<h6>$150.00</h6>
																						<h6 class="l-through">$210.00</h6>
																					</div>
																					<div class="prd-bottom">
																						<a href="" class="social-info">
																							<span class="ti-bag"></span>
																							<p class="hover-text">add to bag</p>
																						</a>
																						<a href="" class="social-info">
																							<span class="lnr lnr-heart"></span>
																							<p class="hover-text">Wishlist</p>
																						</a>
																						<a href="" class="social-info">
																							<span class="lnr lnr-sync"></span>
																							<p class="hover-text">compare</p>
																						</a>
																						<a href="" class="social-info">
																							<span class="lnr lnr-move"></span>
																							<p class="hover-text">view more</p>
																						</a>
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- single product -->
																		<div class="col-lg-3 col-md-6">
																			<div class="single-product">
																				<img class="img-fluid" src="~/img/product/p4.jpg" alt="">
																					<div class="product-details">
																						<h6>
																							addidas New Hammer sole
																							for Sports person
																						</h6>
																						<div class="price">
																							<h6>$150.00</h6>
																							<h6 class="l-through">$210.00</h6>
																						</div>
																						<div class="prd-bottom">

																							<a href="" class="social-info">
																								<span class="ti-bag"></span>
																								<p class="hover-text">add to bag</p>
																							</a>
																							<a href="" class="social-info">
																								<span class="lnr lnr-heart"></span>
																								<p class="hover-text">Wishlist</p>
																							</a>
																							<a href="" class="social-info">
																								<span class="lnr lnr-sync"></span>
																								<p class="hover-text">compare</p>
																							</a>
																							<a href="" class="social-info">
																								<span class="lnr lnr-move"></span>
																								<p class="hover-text">view more</p>
																							</a>
																						</div>
																					</div>
																				</div>
																			</div>
																			<!-- single product -->
																			<div class="col-lg-3 col-md-6">
																				<div class="single-product">
																					<img class="img-fluid" src="~/img/product/p5.jpg" alt="">
																						<div class="product-details">
																							<h6>
																								addidas New Hammer sole
																								for Sports person
																							</h6>
																							<div class="price">
																								<h6>$150.00</h6>
																								<h6 class="l-through">$210.00</h6>
																							</div>
																							<div class="prd-bottom">

																								<a href="" class="social-info">
																									<span class="ti-bag"></span>
																									<p class="hover-text">add to bag</p>
																								</a>
																								<a href="" class="social-info">
																									<span class="lnr lnr-heart"></span>
																									<p class="hover-text">Wishlist</p>
																								</a>
																								<a href="" class="social-info">
																									<span class="lnr lnr-sync"></span>
																									<p class="hover-text">compare</p>
																								</a>
																								<a href="" class="social-info">
																									<span class="lnr lnr-move"></span>
																									<p class="hover-text">view more</p>
																								</a>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- single product -->
																				<div class="col-lg-3 col-md-6">
																					<div class="single-product">
																						<img class="img-fluid" src="~/img/product/p6.jpg" alt="">
																							<div class="product-details">
																								<h6>
																									addidas New Hammer sole
																									for Sports person
																								</h6>
																								<div class="price">
																									<h6>$150.00</h6>
																									<h6 class="l-through">$210.00</h6>
																								</div>
																								<div class="prd-bottom">

																									<a href="" class="social-info">
																										<span class="ti-bag"></span>
																										<p class="hover-text">add to bag</p>
																									</a>
																									<a href="" class="social-info">
																										<span class="lnr lnr-heart"></span>
																										<p class="hover-text">Wishlist</p>
																									</a>
																									<a href="" class="social-info">
																										<span class="lnr lnr-sync"></span>
																										<p class="hover-text">compare</p>
																									</a>
																									<a href="" class="social-info">
																										<span class="lnr lnr-move"></span>
																										<p class="hover-text">view more</p>
																									</a>
																								</div>
																							</div>
																						</div>
																					</div>
																					<!-- single product -->
																					<div class="col-lg-3 col-md-6">
																						<div class="single-product">
																							<img class="img-fluid" src="~/img/product/p7.jpg" alt="">
																								<div class="product-details">
																									<h6>
																										addidas New Hammer sole
																										for Sports person
																									</h6>
																									<div class="price">
																										<h6>$150.00</h6>
																										<h6 class="l-through">$210.00</h6>
																									</div>
																									<div class="prd-bottom">

																										<a href="" class="social-info">
																											<span class="ti-bag"></span>
																											<p class="hover-text">add to bag</p>
																										</a>
																										<a href="" class="social-info">
																											<span class="lnr lnr-heart"></span>
																											<p class="hover-text">Wishlist</p>
																										</a>
																										<a href="" class="social-info">
																											<span class="lnr lnr-sync"></span>
																											<p class="hover-text">compare</p>
																										</a>
																										<a href="" class="social-info">
																											<span class="lnr lnr-move"></span>
																											<p class="hover-text">view more</p>
																										</a>
																									</div>
																								</div>
																							</div>
																						</div>
																						<!-- single product -->
																						<div class="col-lg-3 col-md-6">
																							<div class="single-product">
																								<img class="img-fluid" src="~/img/product/p8.jpg" alt="">
																									<div class="product-details">
																										<h6>
																											addidas New Hammer sole
																											for Sports person
																										</h6>
																										<div class="price">
																											<h6>$150.00</h6>
																											<h6 class="l-through">$210.00</h6>
																										</div>
																										<div class="prd-bottom">

																											<a href="" class="social-info">
																												<span class="ti-bag"></span>
																												<p class="hover-text">add to bag</p>
																											</a>
																											<a href="" class="social-info">
																												<span class="lnr lnr-heart"></span>
																												<p class="hover-text">Wishlist</p>
																											</a>
																											<a href="" class="social-info">
																												<span class="lnr lnr-sync"></span>
																												<p class="hover-text">compare</p>
																											</a>
																											<a href="" class="social-info">
																												<span class="lnr lnr-move"></span>
																												<p class="hover-text">view more</p>
																											</a>
																										</div>
																									</div>
																								</div>
																							</div> *@
																						</div>
																					</div>
																				</div>
																											</section>
																											<!-- end product Area -->
																											<!-- Start exclusive deal Area -->
																										
																													<!-- End exclusive deal Area -->
																													<!-- Start brand Area -->
																													<section class="brand-area section_gap">
																														<div class="container">
																															<div class="row">
																																<a class="col single-img" href="#">
																																	<img class="img-fluid d-block mx-auto" src="~/images/supliers/suplier_Gamz.jpg" alt="">
																																	</a>
																																	<a class="col single-img" href="#">
																																		<img class="img-fluid d-block mx-auto" src="~/images/supliers/suplier_SaoMaiViet.png" alt="">
																																		</a>
																																		<a class="col single-img" href="#">
																																			<img class="img-fluid d-block mx-auto" src="~/images/supliers/suplier_ThanhHung.png" alt="">
																																			</a>
																																			
																																				</div>
																																			</div>
																																		</section>
																																		<!-- End brand Area -->
																																		<!-- Start related-product Area -->
																																		<section class="related-product-area section_gap_bottom">
																																			<div class="container">
																																				<div class="row justify-content-center">
																																					<div class="col-lg-6 text-center">
																																						<div class="section-title">
																																							<h1>Sản phẩm giảm giá</h1>
																																							<p>
																																								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
																																								magna aliqua.
																																							</p>
																																						</div>
																																					</div>
																																				</div>
																																				<div class="row">
																																					<div class="col-lg-9">
																																						<div class="row">
					@foreach(var i in ListProductSales)
					{
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
																																								<div class="single-related-product d-flex">
																																									<a href="~/Product/Detail/@i.ProductID"><img src="~/images/products/@i.Photo" alt="" width="100px" height="100px"></a>
																																									<div class="desc">
																																										<a href="#" class="title">@i.ProductName</a>
																																										<div class="price">
																																											<h6>@i.Price.FormatVND()</h6>
																																											<h6 class="l-through">@( (i.Price + i.Price/2).FormatVND() )</h6>
																																										</div>
																																									</div>
																																								</div>
																																							</div>
					}
					@* <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
																																								<div class="single-related-product d-flex">
																																									<a href="#"><img src="~/img/r1.jpg" alt=""></a>
																																									<div class="desc">
																																										<a href="#" class="title">Black lace Heels</a>
																																										<div class="price">
																																											<h6>$189.00</h6>
																																											<h6 class="l-through">$210.00</h6>
																																										</div>
																																									</div>
																																								</div>
																																							</div>
																																							<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
																																								<div class="single-related-product d-flex">
																																									<a href="#"><img src="~/img/r2.jpg" alt=""></a>
																																									<div class="desc">
																																										<a href="#" class="title">Black lace Heels</a>
																																										<div class="price">
																																											<h6>$189.00</h6>
																																											<h6 class="l-through">$210.00</h6>
																																										</div>
																																									</div>
																																								</div>
																																							</div>
																																							<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
																																								<div class="single-related-product d-flex">
																																									<a href="#"><img src="~/img/r3.jpg" alt=""></a>
																																									<div class="desc">
																																										<a href="#" class="title">Black lace Heels</a>
																																										<div class="price">
																																											<h6>$189.00</h6>
																																											<h6 class="l-through">$210.00</h6>
																																										</div>
																																									</div>
																																								</div>
																																							</div>
																																							<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
																																								<div class="single-related-product d-flex">
																																									<a href="#"><img src="~/img/r5.jpg" alt=""></a>
																																									<div class="desc">
																																										<a href="#" class="title">Black lace Heels</a>
																																										<div class="price">
																																											<h6>$189.00</h6>
																																											<h6 class="l-through">$210.00</h6>
																																										</div>
																																									</div>
																																								</div>
																																							</div>
																																							<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
																																								<div class="single-related-product d-flex">
																																									<a href="#"><img src="~/img/r6.jpg" alt=""></a>
																																									<div class="desc">
																																										<a href="#" class="title">Black lace Heels</a>
																																										<div class="price">
																																											<h6>$189.00</h6>
																																											<h6 class="l-through">$210.00</h6>
																																										</div>
																																									</div>
																																								</div>
																																							</div>
																																							<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
																																								<div class="single-related-product d-flex">
																																									<a href="#"><img src="~/img/r7.jpg" alt=""></a>
																																									<div class="desc">
																																										<a href="#" class="title">Black lace Heels</a>
																																										<div class="price">
																																											<h6>$189.00</h6>
																																											<h6 class="l-through">$210.00</h6>
																																										</div>
																																									</div>
																																								</div>
																																							</div>
																																							<div class="col-lg-4 col-md-4 col-sm-6">
																																								<div class="single-related-product d-flex">
																																									<a href="#"><img src="~/img/r9.jpg" alt=""></a>
																																									<div class="desc">
																																										<a href="#" class="title">Black lace Heels</a>
																																										<div class="price">
																																											<h6>$189.00</h6>
																																											<h6 class="l-through">$210.00</h6>
																																										</div>
																																									</div>
																																								</div>
																																							</div>
																																							<div class="col-lg-4 col-md-4 col-sm-6">
																																								<div class="single-related-product d-flex">
																																									<a href="#"><img src="~/img/r10.jpg" alt=""></a>
																																									<div class="desc">
																																										<a href="#" class="title">Black lace Heels</a>
																																										<div class="price">
																																											<h6>$189.00</h6>
																																											<h6 class="l-through">$210.00</h6>
																																										</div>
																																									</div>
																																								</div>
																																							</div>
																																							<div class="col-lg-4 col-md-4 col-sm-6">
																																								<div class="single-related-product d-flex">
																																									<a href="#"><img src="~/img/r11.jpg" alt=""></a>
																																									<div class="desc">
																																										<a href="#" class="title">Black lace Heels</a>
																																										<div class="price">
																																											<h6>$189.00</h6>
																																											<h6 class="l-through">$210.00</h6>
																																										</div>
																																									</div>
																																								</div>
																																							</div> *@
																																						</div>
																																					</div>
																																					<div class="col-lg-3">
																																						<div class="ctg-right">
																																							<a href="#" target="_blank">
																																								<img class="img-fluid d-block mx-auto" src="~/img/category/c5.jpg" alt="">
																																								</a>
																																							</div>
																																						</div>
																																					</div>
																																				</div>
																																			</section>
<!-- End related-product Area -->
	<script>
		function openImage() {
    var overlay = document.getElementById("imgOverlay");
    var overlayImg = document.getElementById("overlayImg");

    overlayImg.src = document.getElementById("mainImg").src;
    overlay.style.display = "flex";

    setTimeout(() => overlay.classList.add("show"), 10);
}

function closeImage() {
    var overlay = document.getElementById("imgOverlay");
    overlay.classList.remove("show");

    setTimeout(() => overlay.style.display = "none", 300);
}
	</script>