@* @model SolutionCaoThanhDuc.Models.Partner.Supplier

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SupplierID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div> *@
@model Supplier
@{
    ViewBag.Title = "Xóa nhà cung cấp";
    bool isUsed = ViewBag.isSuplier;
    string? color_card = (ViewBag.isSuplier ? "primary" : "danger");
}
@section PageToolBar {
    @if (!ViewBag.isSuplier)
    {
        <button type="submit" form="formDelete" class="btn btn-danger">
            <i class="bi bi-trash me-1"></i>
            Xóa
        </button>
    }
    <a href="~/Supplier" class="btn btn-secondary ms-1">
        <i class="bi bi-arrow-left"></i>
        Quay lại
    </a>
}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card card-@color_card card-outline">
            <div class="card-header">
                <h5 class="card-title mb-0 text-@color_card">
                    <i class="bi bi-exclamation-triangle me-2"></i>
                    Xác nhận xóa nhà cung cấp
                </h5>
            </div>

            <div class="card-body">
                <form id="formDelete" method="post" asp-action="Delete">
                    @Html.AntiForgeryToken()
                    <div class="alert alert-warning d-flex align-items-center">
                        
                        
                        @if (isUsed)
                        {
                            <p class="text-@color_card">
                                <i class="bi bi-info-circle me-2"></i>
                                Nhà cung cấp này liên quan đến sản phẩm khác không thể xóa !
                            </p>
                        }
                        else
                        {
                            <p class="text-@color_card">
                                <i class="bi bi-info-circle me-2"></i>
                                Bạn có chắc chắn muốn xóa nhà cung cấp sau không ?
                            </p>
                        }
                       
                    </div>
                    <dl class="row mb-0">
                        <dt class="col-sm-4">Tên nhà cung cấp</dt>
                        <dd class="col-sm-8">@Model.SupplierName</dd>

                        <dt class="col-sm-4">Tên giao dịch</dt>
                        <dd class="col-sm-8">@Model.ContactName</dd>

                        <dt class="col-sm-4">Điện thoại</dt>
                        <dd class="col-sm-8">@Model.Phone</dd>

                        <dt class="col-sm-4">Email</dt>
                        <dd class="col-sm-8">@Model.Email</dd>

                        <dt class="col-sm-4">Địa chỉ</dt>
                        <dd class="col-sm-8">@Model.Address</dd>

                        <dt class="col-sm-4">Tỉnh / Thành</dt>
                        <dd class="col-sm-8">@Model.Province</dd>
                    </dl>
                </form>
            </div>
        </div>
    </div>
</div>
