@model Shipper

@section PageToolBar {
    <button type="submit" form="formEdit" class="btn btn-primary">
        <i class="bi bi-save"></i>
        Lưu dữ liệu
    </button>

    <a href="~/Shipper" class="btn btn-secondary ms-1">
        <i class="bi bi-arrow-left"></i>
        Quay lại
    </a>
}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    <i class="bi bi-bicycle me-2"></i>
                    Thông tin người giao hàng
                </h5>
            </div>

            <div class="card-body">
                <form id="formEdit" method="post" asp-action="SaveData">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="@Model.ShipperID" />
                    <div class="mb-3">
                        <label class="form-label">Tên người giao hàng @Converter.RequiredAsterisk()</label>
                        <input type="text"
                               class="form-control"
                               asp-for="@Model.ShipperName"
                               placeholder="Nhập tên người giao hàng" autofocus />
                        <span asp-validation-for="@Model.ShipperName" class="text-danger"></span>
                    
                           </div>

                    <div class="mb-3">
                        <label class="form-label">Điện thoại @Converter.RequiredAsterisk()</label>
                        <input type="tel"
                               class="form-control"
                               asp-for="@Model.Phone"
                               placeholder="Nhập số điện thoại" />
                        <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                    
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

